@import url(https://fonts.bunny.net/css?family=aboreto:400&display=swap);

body {
    display: flex;
    justify-content: center;
    margin: 0;
    place-items: center;
    min-width: 300px;
    min-height: 100vh;
    background-color: whitesmoke;
}
